@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$button-color: #efcdbd;
$button-hover-color: #d1ccc7;
$button-shadow: 2px 3px 8px #635e5e;
$button-animation: 1s;

body {
  font-family: 'Dancing Script', cursive;
  margin: 0;
}

:focus {
  outline: none;
}

.container {
  width: 100%;
}

.tns-item {
  position: relative;

  h3 {
    position: absolute;
    font-size: 120px;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #fcf5efa1;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }

  .btn-more {
    display: block;
    position: absolute;
    top: 65%;
    width: 100%;

    a {
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      display: block;
      margin: auto;
      width: 200px;
      padding: 15px;
      background-color: $button-color;
      text-align: center;
      color: #fff;
      cursor: pointer;
      box-shadow: $button-shadow;
      transition: $button-animation;
    }

    a:hover {
      background-color: $button-hover-color;
    }
  }
}

.tns-controls {
  position: absolute;
  z-index: 2;
  top: 30%;
  width: 80%;
  margin-left: 10%;

  button.next-button {
    float: right;
  }

  button {
    background-color: $button-color;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: none;
    box-shadow: $button-shadow;
    transition: $button-animation;
  }
  button:hover {
    background-color: $button-hover-color;
  }

}
