body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #0069ff;
}

.wrapper {
    margin: 60px auto 20px;
    width: 570px;
    border-radius: 3px;
    background: white;
}

.wrapper form {
    padding: 40px;
}

.title {
    text-align: center;
    font-weight: 300;
    color: #444;
    margin: 0 auto 45px;
    font-size: 35px;
    line-height: 38px;
    text-transform: none;
    letter-spacing: 0;
}

.input-wrapper input {
    background: #fcfcfc;
    border: 2px solid #e7e7e7;
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    display: block;
    border-radius: 3px;
    font-size: 18px;
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
    box-sizing: border-box;
}

.btn {
    color: white;
    background: #15CD72;
    border: 0;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    display: block;
    border-radius: 3px;
}

.btn:hover {
    background-color: #0CB863;
}

.table-wrapper {
    padding: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background: #fff;
    color: #757575;
}

thead {
    background: #fcfcfc;
}

td {
    padding: 10px;
    border: 1px solid #e7e7e7;
}

button.delete {
    border: none;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button.delete:hover {
}

button.delete:focus {
    outline: none;
}